<!DOCTYPE HTML>

<html>
	<head>
		<title>ABOUT US</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index.html" class="logo">
						<img src="images/logo1.png" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="index_jp.html">日本語</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">HOME</a></li>
							<li><a href="about.html">ABOUT US</a></li>
							<li><a href="tech.html">OUR TECHNOLOGY</a></li>
							<li><a href="team.html">OUR TEAM</a></li>
							<li><a href="index.html#contact">CONTACT US</a></li>
							<li><a href="cause.html">SUPPORT OUR CAUSE</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/MasonryDistribution.png" alt="team" />
							</span>
							<header class="major">
								<h1>ABOUT US</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Our Mission:</h2>
									</header>
									<p>Zero victims for masonry residents.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a class="image">
										<img src="images/masonry.jpg" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>How do we solve:</h3>
											</header>
											<p>
										We solve this problem by bringing together the best experts' wisdom from all fields of industry, government, and academia across the boundaries of organizations and borders.</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/masonry1.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>What is Masonry?</h3>
											</header>
											<p>Masonry structures, which are simply built up of stones and bricks, are used all over the world. Since bricks and stones have extremely high weather resistance and durability as building materials, buildings with a building age of several hundred years usually exist.
In addition, masonry is cool in summer, warm in winter, does not cause fire, does not require advanced technology for construction, bricks and stones as raw materials can be obtained anywhere, and it has many advantages such as cheap price. It has become popular and continues to be built today. Today, 60% of the world's population lives in masonry dwellings.</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/MasonryEQ.png" alt="masonry" style="width:750px;height:500px;display: block;margin-left:300px;margin-right:300px;">
									</a>
									
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h3>MASONRY CHALLENGES</h3>
									</header>
									<p>Masonry, which is home to 60% of the world's population, is extremely vulnerable to earthquakes, and about 80% of earthquake victims over the last 100 years have been caused by earthquakes. Since masonry is widely distributed in the world and coincides with earthquake-prone areas, we have been causing earthquake victims every year since ancient times.
In masonry, because each brick and stone behave individually, it was not possible to accurately simulate the process of a building receiving a seismic wave and breaking from where it cracked until it collapsed. Seismic diagnosis could not be done either.
We are the world's first company that can develop technology from structural analysis of masonry to implementation of seismic reinforcement and carry out it all at once.
											</p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@aster.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(080)12345678</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span> 2-6-5 Yaesu, Chuo-ku, <br />
										Tokyo 114-0028<br />
										Japan</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2020 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>