<!DOCTYPE HTML>

<html>
	<head>
		<title>株式会社 @ Aster_会社概要</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index_jp.html" class="logo">
						<img src="images/logo1.png" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="index.html">ENG</a>
						<a href="#menu">メニュー</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index_jp.html">ホム</a></li>
							<li><a href="about_jp.html">会社概要</a></li>
							<li><a href="tech_jp.html">テクノロジー</a></li>
							<li><a href="team_jp.html">チーム</a></li>
							<li><a href="index_jp.html#contact">お問い合わせ</a></li>
							<li><a href="cause_jp.html">サポート</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">ログイン</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/MasonryDistribution.png" alt="team" />
							</span>
							<header class="major">
								<h1>会社概要</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>我々の使命:</h2>
									</header>
									<p>組積造の地震犠牲者ゼロ</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a class="image">
										<img src="images/masonry.jpg" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>どのように解決するか:</h3>
											</header>
											<p>
										私たちは、組織や国境を越えて、業界、政府、学界のすべての分野からの最高の専門家の知恵を結集することにより、この問題を解決します.</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/masonry1.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>組積造とは?</h3>
											</header>
											<p>組積造と呼ばれる石やレンガを積み上げただけの構造の建築物が世界中で使われています。レンガや石は建材としては極めて高い耐候性と耐久性がある為に、数百年という築年数の建物も普通に存在します。

また組積造は夏は涼しく、冬は暖かく、火事にもならない、建築に高度な技術が不要で、原料のレンガや石はどこでも入手可能で、価格も安いなど多くのメリットがある事から世界中に普及し、今日でも建てられ続けています。今では世界人口の60％が組積造住居に住んでいます。</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/MasonryEQ.png" alt="masonry" style="width:750px;height:500px;display: block;margin-left:300px;margin-right:300px;">
									</a>
									
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h3>組積造の課題</h3>
									</header>
									<p>世界人口の60％が居住する組積造は地震に極めて脆弱で、過去100年間の地震犠牲者の約80％は地震による組積造崩壊が原因です。組積造は世界に広く分布し、地震多発地帯とも一致している事から、太古より地震犠牲者を毎年のように出し続けています。<br>
組積造は各々のレンガや石が個別に挙動するために、建物が地震波を受けて亀裂が入る所から崩壊するまでの過程を正確にシミュレーションする事は不可能でした。耐震診断も出来ませんでした。<br>
私たちは組積造の構造解析から耐震補強の実施までの技術を開発し、一気通貫で行う事が出来る世界で初めての会社です。
											</p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">名</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">メール</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">メッセージ</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="メッセージを送る" class="primary" /></li>
										<li><input type="reset" value="抹消する" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>メール</h3>
										<a href="#">information@aster.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>電話番号（代表）</h3>
										<span>(080)12345678</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>所在地</h3>
										<span> 〒114-0028 <br>東京都中央区八重洲2-6-5<br>
										八重洲五の五ビル4F
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2020 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>