<!DOCTYPE HTML>
<html>
	<head>
		<title>ASTER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
						<header id="header" class="alt">
						<a href="index.html" class="logo">
						<img src="images/logo1.png" alt="logo" style="width:95px;height:50px;"> 
						 </a>
						<nav>
						<nav>
						
						<a href="index_jp.html">日本語</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">HOME</a></li>
							<li><a href="about.html">ABOUT US</a></li>
							<li><a href="tech.html">OUR TECHNOLOGY</a></li>
							<li><a href="team.html">OUR TEAM</a></li>
							<li><a href="index.html#contact">CONTACT US</a></li>
							<li><a href="cause.html">SUPPORT OUR CAUSE</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h2>Protecting our future against natural disasters </h2>
							</header>
							<div class="content">
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/EQPhone.jpg" alt="about" />
									</span>
									<header class="major">
										<h3><a href="about.html" class="link">About us</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/powercoat.png" alt="technology" />
									</span>
									<header class="major">
										<h3><a href="tech.html" class="link">Our Technology</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/phototeam.jpg" alt="team" />
									</span>
									<header class="major">
										<h3><a href="team.html" class="link">Our Team</a></h3>
									</header>
								</article>
								
								<article>
									<span class="image">
										<img src="images/disaster.jpg" alt="disaster" />
									</span>
									<header class="major">
										<h3><a href="data.html" class="link">Disaster Data</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/news.jpg" alt="news" />
									</span>
									<header class="major">
										<h3><a href="news.html" class="link">NEWS</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/cause.jpg" alt="donate" />
									</span>
									<header class="major">
										<h3><a href="cause.html" class="link">Support Our Cause</a></h3>
										<p></p>
									</header>
								</article>
							</section>

						<!-- Two -->
							

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@aster.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(080)12345678</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span> 2-6-5 Yaesu, Chuo-ku, <br />
										Tokyo 114-0028<br />
										Japan</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2020 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>