<!DOCTYPE HTML>

<html>
	<head>
		<title>私たちの技術 @ 株式会社 Aster</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index_jp.html" class="logo">
						<img src="images/logo1.png" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="index.html">ENG</a>
							<a href="#menu">メニュー</a>	
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index_jp.html">ホム</a></li>
							<li><a href="about_jp.html">会社概要</a></li>
							<li><a href="tech_jp.html">テクノロジー</a></li>
							<li><a href="team_jp.html">チーム</a></li>
							<li><a href="index_jp.html#contact">お問い合わせ</a></li>
							<li><a href="cause_jp.html">サポート</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">ログイン</a></li>
						</ul>
						
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/paint.jpg" alt="tech" />
							</span>
							<header class="major">
								<h1>私たちの技術</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>解決方法</h2>
									</header>
									<p>
組積造を耐震補強するには2つの技術が必要です。一つは耐震設計、もう一つは補強技術（補強工法）です。
①耐震設計は構造計算して現在の建物耐震性能を評価し、不足している耐震性能を明らかにします。次に建物のどの部分に、どの位の補強が必要か考慮して補強設計を行います。
②補強技術は基本的に外壁に高強度樹脂をコーティングするだけです。繊維含有量と塗布厚によって引張強度や特性を調整できます。アクリルシリコン系樹脂を基材にしているので環境にも優しいです。各種の繊維と樹脂を分散混合してスラリーを作る基本技術を持っていますので用途やニーズに合わせて様々な製品の開発、製造も可能です。
Power Coatingの製造には高度な技術が必要ですが、使うのはとても簡単です。
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="images/1.jpg" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3> </h3>
											</header>
										<p>
										Power Coatingの製造には高度な技術が必要ですが、使うのはとても簡単です。
										</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/2.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>BLA</h3>
											</header>
											<p>
											..................</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>ビデオ</h2>
<p>I have included an experimental video file on the page.</p>

<div style="text-align:center"> 
<video width="750" height="600" controls>
  <source src="video/Experiment.mp4" type="video/mp4">
  <source src="video/Experiment.webm" type="video/webm">
  <source src="video/Experiment.ogv" type="video/ogg">
</video>
</div>

									
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">名</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">メール</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">メッセージ</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="メッセージを送る" class="primary" /></li>
										<li><input type="reset" value="抹消する" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>メール</h3>
										<a href="#">information@aster.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>電話番号（代表）</h3>
										<span>(080)12345678</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>所在地</h3>
										<span> 〒114-0028 <br>東京都中央区八重洲2-6-5<br>
										八重洲五の五ビル4F
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2020 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>