<!DOCTYPE HTML>

<html>
	<head>
		<title>OUR TECHNOLOGY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index.html" class="logo">
						<img src="images/logo1.png" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="index_jp.html">日本語</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">HOME</a></li>
							<li><a href="about.html">ABOUT US</a></li>
							<li><a href="tech.html">OUR TECHNOLOGY</a></li>
							<li><a href="team.html">OUR TEAM</a></li>
							<li><a href="index.html#contact">CONTACT US</a></li>
							<li><a href="cause.html">SUPPORT OUR CAUSE</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/paint.jpg" alt="tech" />
							</span>
							<header class="major">
								<h1>OUR TECHNOLOGY</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>TECHNOLOGICAL SOLUTION:</h2>
									</header>
									<p>
Two techniques are needed to seismically reinforce masonry. One is seismic design, and the other is reinforcement technology (reinforcement method).
(1) For seismic design, structural calculation is performed to evaluate the seismic performance of the current building, and the lacking seismic performance is clarified. Next, the reinforcement design is performed considering what part of the building and how much reinforcement is required.
② Reinforcement technology basically only coats the outer wall with high strength resin. Tensile strength and properties can be adjusted by the fiber content and coating thickness. It is environmentally friendly as it uses acrylic silicon resin as the base material. Since we have the basic technology to make slurry by dispersing and mixing various fibers and resins, we can develop and manufacture various products according to the application and needs.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="images/1.jpg" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3> </h3>
											</header>
										<p>
										Power coating manufacturing requires advanced technology, but it is very easy to use.
										</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a class="image">
										<img src="images/2.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>BLA</h3>
											</header>
											<p>
											..................</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>Video</h2>
<p>I have included an experimental video file on the page.</p>

<div style="text-align:center"> 
<video width="750" height="600" controls>
  <source src="video/Experiment.mp4" type="video/mp4">
  <source src="video/Experiment.webm" type="video/webm">
  <source src="video/Experiment.ogv" type="video/ogg">
</video>
</div>

									
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@aster.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(080)12345678</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span> 2-6-5 Yaesu, Chuo-ku, <br />
										Tokyo 114-0028<br />
										Japan</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2020 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>