{% load static %}
<link rel="icon" href="{% static 'images/logo.png' %}">
<html>
	<head>
	
		<title>株式会社 Aster</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
						<header id="header" class="alt">
						<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'images/logo1.png' %}" alt="logo" style="width:95px;height:50px;"> 
						 </a>
						<nav>
						<a href="{% url 'home' %}">ENG</a>
						
							<a href="#menu">メニュー</a>
						</nav>

					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home_jp' %}">ホーム</a></li>
							<li><a href="{% url 'about_jp' %}">会社紹介</a></li>
							<li><a href="{% url 'tech_jp' %}">テクノロジー</a></li>
							<li><a href="{% url 'team_jp' %}">チーム</a></li>
							<li><a href="{% url 'overview_jp' %}">会社概要</a></li>
							<li><a href="#contact">お問い合わせ</a></li>
							<li><a href="{% url 'error' %}">世界を守ろう</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'error' %}" class="button fit">ログイン</a></li>
						</ul>
					</nav>
				
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
				<section id="banner" class="major">
					<div class="inner">
						<span class="image">
							<img src="{% static 'images/italyEQ.jpg' %}" alt="ItalyEQ">
						</span>
						<header class="major">
							<h2>自然災害から私たちの未来を守る</h2>
						</header>
						<div class="content">
							<ul class="actions">
								<li><a href="#one" class="button next scrolly">始めましょう</a></li>
							</ul>
						</div>
					</div>
				</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{% static 'images/EQPhone.jpg' %}" alt="about_jp" />
									</span>
									<header class="major">
										<h3><a href="{% url 'about_jp' %}" class="link">会社紹介</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/news_gif.gif' %}" alt="news" />
									</span>
									<header class="major">
										<h3><a href="{% url 'news' %}" class="link">ニュース</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/phototeam.jpg' %}" alt="team_jp" />
									</span>
									<header class="major">
										<h3><a href="{% url 'team_jp' %}" class="link">チーム</a></h3>
									</header>
								</article>
								
								<article>
									<span class="image">
										<img src="{% static 'images/logo.png' %}" alt="overview_jp" />
									</span>
									<header class="major">
										<h3><a href="{% url 'overview_jp' %}" class="link">会社概要</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/powercoat.png' %}" alt="technology" />
									</span>
									<header class="major">
										<h3><a href="{% url 'tech_jp' %}" class="link">テクノロジー</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/cause.jpg' %}" alt="donate" />
									</span>
									<header class="major">
										<h3><a href="{% url 'support' %}" class="link">世界を守ろう</a></h3>
										<p></p>
									</header>
								</article>
							</section>

						<!-- Two -->
							

					</div>

	<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">氏名</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">メール</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">メッセージ</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="メッセージを送る" class="primary" /></li>
										<li><input type="reset" value="抹消する" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-envelope"></span> -->
										<!-- <h3>メール</h3> -->
										<!-- <a href="#">information@aster.com</a> -->
									<!-- </div> -->
								<!-- </section> -->
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>電話番号（代表）</h3>
										<span>+81-(0)55-925-0063</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>所在地</h3>
										<span> 〒114-0028 <br>東京都中央区八重洲2-6-5<br>
										八重洲五の五ビル4F
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/dis_aster__" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/Aster-Co-Ltd-102878115674292" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/dis_aster_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/dis-aster-git" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/dis-aster" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2022 株式会社 Aster</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>