{% load static %}
<link rel="icon" href="{% static 'images/logo.png' %}">
<html>
	<head>
		<title>Overview</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'images/logo1.png' %}" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="{% url 'about' %}">ENG</a>
							<a href="#menu">メニュー</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home_jp' %}">ホーム</a></li>
							<li><a href="{% url 'about_jp' %}">会社紹介</a></li>
							<li><a href="{% url 'tech_jp' %}">テクノロジー</a></li>
							<li><a href="{% url 'team_jp' %}">チーム</a></li>
							<li><a href="{% url 'overview_jp' %}">会社概要</a></li>
							<li><a href="#contact">お問い合わせ</a></li>
							<li><a href="{% url 'error' %}">世界を守ろう</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'error' %}" class="button fit">ログイン</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{% static 'images/overview.jpg' %}" alt="tech" />
							</span>
							<header class="major">
								<h1>会社概要</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>会社概要:</h2>
									</header>
									<table>
										<tbody>
										<tr>
										<td>社　名</td>
										<td>株式会社 Aster</td>
										</tr>
										<tr>
										<td>設　立</td>
										<td>2019年1月</td>
										</tr>
										<tr>
										<td>本　社</td>
										<td>東京都中央区八重洲2-6-5八重洲五の五ビル4F</td>
										</tr>
										<tr>
										<td>静岡事務所</td>
										<td>静岡県沼津市岡一色825-3　株式会社エスジー内</td>
										</tr>
										<tr>
										<td>&ensp;</td>
										<td>※緊急事態宣言の対応措置として静岡事務所でリモートワークしています</td>
										</tr>
										<td>TEL</td>
										<td>055-925-0063（静岡事務所）</td>
										</tr>
										<tr>
										<td><br>取締役<br></td>
										<td>CEO 鈴木正臣<br><br>COO シャンタヌ メノン</td>
										</tr>
										<td>資本金</td>
										<td>999万円</td>
										</tr>
										</tbody>
										</table>
									<!-- <div class="row"> -->
									  <!-- <div class="column"> -->
									  <!-- <p>社　名</p> -->
									  <!-- <p>設　立　</p> -->
									  <!-- <p>本　社</p> -->
									  <!-- <p>静岡事務所 </p> -->
									  <!-- <p>&ensp;</p> -->
									  <!-- <p>TEL</p> -->
									  <!-- <p>取締役</p> -->
									  <!-- <p>&ensp;</p> -->
									  <!-- <p>資本金</p> -->
									<!-- </div> -->
									  <!-- <div class="column"> -->
									  <!-- <p>株式会社 Aster</p> -->
									  <!-- <p>2019年1月</p> -->
									  <!-- <p>東京都中央区八重洲2-6-5八重洲五の五ビル4F</p> -->
									  <!-- <p>静岡県沼津市岡一色825-3　株式会社エスジー内　</p> -->
									  <!-- <p>※緊急事態宣言の対応措置として静岡事務所でリモートワークしています</p> -->
									  <!-- <p>055-925-0063（静岡事務所）</p> -->
									  <!-- <p>CEO 鈴木正臣</p> -->
									  <!-- <p>COO シャンタヌ メノン</p> -->
									  <!-- <p>999万円</p> -->
									<!-- </div> -->
									<!-- </div> -->
								</div>
							</section>
					</div>
						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>アクセス:</h2>
									</header>
								<div>
									<!-- Google Map Copied Code -->
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.969242080077!2d139.76622391520036!3d35.67775933776996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfcb2ad8683%3A0x448c6a245bd8f2d6!2z44CSMTA0LTAwMjggVG9reW8sIENodW8gQ2l0eSwgWWFlc3UsIDItY2jFjW1l4oiSNuKIkjUg5YWr6YeN5rSy5LqU44OO5LqU44OT44Or!5e0!3m2!1sen!2sjp!4v1645610665224!5m2!1sen!2sjp" 
											width="600"
											height="450"
											style="border:0;" 
											allowfullscreen=""
											loading="lazy"
											aria-hidden="false"
											tabindex="0">
											</iframe>
								</div>
								</div>
							</section>
						
				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">氏名</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">メール</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">メッセージ</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-envelope"></span> -->
										<!-- <h3>メール</h3> -->
										<!-- <a href="#">information@aster.com</a> -->
									<!-- </div> -->
								<!-- </section> -->
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>電話番号（代表）</h3>
										<span>+81-(0)55-925-0063</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>所在地</h3>
										<span> 〒114-0028 <br>東京都中央区八重洲2-6-5<br>
										八重洲五の五ビル4F
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/dis_aster__" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/Aster-Co-Ltd-102878115674292" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/dis_aster_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/dis-aster-git" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/dis-aster" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2022 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>