{% load static %}
<link rel="icon" href="{% static 'images/logo.png' %}">
<html>
	<head>
		<title>Overview</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'images/logo1.png' %}" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="{% url 'overview_jp' %}">日本語</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home' %}">HOME</a></li>
							<li><a href="{% url 'about' %}">ABOUT US</a></li>
							<li><a href="{% url 'tech' %}">OUR TECHNOLOGY</a></li>
							<li><a href="{% url 'team' %}">OUR TEAM</a></li>
							<li><a href="{% url 'overview' %}">COMPANY OVERVIEW</a></li>
							<li><a href="#contact">CONTACT US</a></li>
							<li><a href="{% url 'error' %}">SUPPORT OUR CAUSE</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'error' %}" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{% static 'images/overview.jpg' %}" alt="tech" />
							</span>
							<header class="major">
								<h1>COMPANY OVERVIEW</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>General Info:</h2>
									</header>
									<div class="row">
									  <div class="column">
									  <p>Company Name</p>
									  <p>Established</p>
									  <p>Head Office</p>
									  <p>Shizuoka branch </p>
									  <p>&ensp;</p>
									  <p>Telephone</p>
									  <p>Directors</p>
									  <p>&ensp;</p>
									  <p>Capital</p>
									</div>
									  <div class="column">
									  <p>Aster Co.,Ltd.</p>
									  <p>January 2019</p>
									  <p>2-6-5 Yaesu, Chuo-ku, Tokyo 104-0028 Japan</p>
									  <p>825-3　Oka-issiki, Numadu city, Shizuoka 410-0012 Japan</p>
									  <p>※ Due to current pandemic we are working remotely at the Shizuoka branch</p>
									  <p>055-925-0063</p>
									  <p>CEO Masaomi Suzuki</p>
									  <p>COO Shanthanu R. Menon</p>
									  <p>9.99 million yen</p>
									</div>
									</div>
								</div>
							</section>
					</div>
						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Access:</h2>
									</header>
								<div>
									<!-- Google Map Copied Code -->
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.969242080077!2d139.76622391520036!3d35.67775933776996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfcb2ad8683%3A0x448c6a245bd8f2d6!2z44CSMTA0LTAwMjggVG9reW8sIENodW8gQ2l0eSwgWWFlc3UsIDItY2jFjW1l4oiSNuKIkjUg5YWr6YeN5rSy5LqU44OO5LqU44OT44Or!5e0!3m2!1sen!2sjp!4v1645610665224!5m2!1sen!2sjp" 
											width="600"
											height="450"
											style="border:0;" 
											allowfullscreen=""
											loading="lazy"
											aria-hidden="false"
											tabindex="0">
											</iframe>
								</div>
								</div>
							</section>
						
				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-envelope"></span> -->
										<!-- <h3>Email</h3> -->
										<!-- <a href="#">information@aster.com</a> -->
									<!-- </div> -->
								<!-- </section> -->
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+81-(0)55-925-0063</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span> 2-6-5 Yaesu, Chuo-ku, <br />
										Tokyo 114-0028<br />
										Japan</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/dis_aster__" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/Aster-Co-Ltd-102878115674292" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/dis_aster_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/dis-aster-git" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/dis-aster" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2022 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>