{% load static %}
<link rel="icon" href="{% static 'images/logo.png' %}">
<html>
	<head>
		<title>Team</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'images/logo1.png' %}" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="{% url 'team_jp' %}">日本語</a>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home' %}">HOME</a></li>
							<li><a href="{% url 'about' %}">ABOUT US</a></li>
							<li><a href="{% url 'tech' %}">OUR TECHNOLOGY</a></li>
							<li><a href="{% url 'team' %}">OUR TEAM</a></li>
							<li><a href="{% url 'overview' %}">COMPANY OVERVIEW</a></li>
							<!-- <li><a href="#contact">CONTACT US</a></li> -->
							<li><a href="{% url 'error' %}">SUPPORT OUR CAUSE</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'error' %}" class="button fit">Log In</a></li>
						</ul>
					</nav>


				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{% static 'images/team.jpeg' %}" alt="team" />
							</span>
							<header class="major">
								<h1>OUR TEAM</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>ABOUT OUR TEAM</h2>
									</header>
									<p>Our vision is to build a world in which all people can live in safety and securely against natural disasters. Our team comprises of members who have years of experience in the field of disaster risk reduction.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/ceo.jpg' %}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>CEO & CO-FOUNDER: MASAOMI SUZUKI </h3>
											</header>
											<p>
										<strong>Fields of expertise: </strong><br>
										1.Development and manufacture of high strength resins<br>
										2.Building renovation technology<br>
										3.Mechanical design and development<br>
										<strong>Career history:</strong>
										<br>
										Experienced in technical development, sales and management at a construction company specializing in building renovation, SG Corporation.</p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/coo.jpg' %}" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>COO & CO-FOUNDER: SHANTHANU RAJASEKHARAN MENON</h3>
											</header>
											<p>
											<strong>Fields of expertise:</strong><br>
											1. Over a decade of experience in the fiel of Earthquake Engineering <br>
											2. Specialising in numerical simulation and structural design<br>
											3. IoT technology development<br>
											<strong>Career history:</strong><br>
											1. Graduated as a Structural Engineer from the Indian Institute of Technology Madras<br>
											2. Obtained a Doctorate in engineering from the University of Tokyo<br>
											3. Engaged in system development at Kozo Keikaku Engineering<br>
											4. Catastrophe Risk Analyst at Gallagher Re </p>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<!-- <section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/pic10.jpg' %}" alt="" data-position="25% 25%" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>CTO & CO-FOUNDER: KENJIRO YAMAMOTO</h3>
											</header>
											<p>
											<strong>Fields of expertise:</strong><br>
											1. A structural analysis methods<br>
											2. A network of alumni in Tokyo<br>
											3. IoT technology development<br>
											<strong>Career history:</strong><br>
											1. Graduated from the University of Tokyo<br>
											2. Obtained a Doctorate in engineering from the University of Tokyo<br>
											3. Engaged in system development at Structural Planning Institute Co.</p>
											</p>
										</div>
									</div>
								</section> -->
							</section>

						<!-- Three -->
							<!-- <section id="three"> -->
								<!-- <div class="inner"> -->
                                    <!-- <ul class="actions"> -->
                                        <!-- <li><a href="generic.html" class="button">Message from founders</a></li> -->
                                    <!-- </ul> -->
								<!-- </div> -->
							<!-- </section> -->

					</div>

				<!-- Contact -->
					<!-- <section id="contact"> -->
						<!-- <div class="inner"> -->
							<!-- <section> -->
								<!-- <form method="post" action="#"> -->
									<!-- <div class="fields"> -->
										<!-- <div class="field half"> -->
											<!-- <label for="name">Name</label> -->
											<!-- <input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" /> -->
										<!-- </div> -->
										<!-- <div class="field half"> -->
											<!-- <label for="email">Email</label> -->
											<!-- <input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" /> -->
										<!-- </div> -->
										<!-- <div class="field"> -->
											<!-- <label for="message">Message</label> -->
											<!-- <textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea> -->
										<!-- </div> -->
									<!-- </div> -->
									<!-- <ul class="actions"> -->
										<!-- <li><input type="submit" value="Send Message" class="primary" /></li> -->
										<!-- <li><input type="reset" value="Clear" /></li> -->
									<!-- </ul> -->
								<!-- </form> -->
							<!-- </section> -->
							<!-- <section class="split"> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-envelope"></span> -->
										<!-- <h3>Email</h3> -->
										<!-- <a href="#">information@aster.com</a> -->
									<!-- </div> -->
								<!-- </section> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-phone"></span> -->
										<!-- <h3>Phone</h3> -->
										<!-- <span>+81-(0)55-925-0063</span> -->
									<!-- </div> -->
								<!-- </section> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-home"></span> -->
										<!-- <h3>Address</h3> -->
										<!-- <span> 2-6-5 Yaesu, Chuo-ku, <br /> -->
										<!-- Tokyo 114-0028<br /> -->
										<!-- Japan</span> -->
									<!-- </div> -->
								<!-- </section> -->
							<!-- </section> -->
						<!-- </div> -->
					<!-- </section> -->

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/dis_aster__" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/Aster-Co-Ltd-102878115674292" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/dis_aster_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/dis-aster-git" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/dis-aster" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2022 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>