{% load static %}
<link rel="icon" href="{% static 'images/logo.png' %}">
<html>
	<head>
		<title>テクノロジー</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'images/logo1.png' %}" alt="logo" style="width:95px;height:50px;"> 
						</a>
						<nav>
						<a href="{% url 'tech_jp' %}">ENG</a>
							<a href="#menu">メニュー</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home_jp' %}">ホーム</a></li>
							<li><a href="{% url 'about_jp' %}">会社紹介</a></li>
							<li><a href="{% url 'tech_jp' %}">テクノロジー</a></li>
							<li><a href="{% url 'team_jp' %}">チーム</a></li>
							<li><a href="{% url 'overview_jp' %}">会社概要</a></li>
							<!-- <li><a href="#contact">お問い合わせ</a></li> -->
							<li><a href="{% url 'error' %}">世界を守ろう</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'error' %}" class="button fit">ログイン</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{% static 'images/paint.jpg' %}" alt="tech" />
							</span>
							<header class="major">
								<h1>解決方法</h1>
							</header>
							
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Our Solution:</h2>
									</header>
									<p>
組積造を耐震補強するには2つの技術が必要です。一つは耐震設計、もう一つは補強技術（補強工法）です<br>
①耐震設計は構造計算して現在の建物耐震性能を評価し、不足している耐震性能を明らかにします。次に建物のどの部分に、どの位の補強が必要か考慮して補強設計を行います。<br>
②補強技術は基本的に外壁に高強度樹脂をコーティングするだけです。繊維含有量と塗布厚によって引張強度や特性を調整できます。アクリルシリコン系樹脂を基材にしているので環境にも優しいです。各種の繊維と樹脂を分散混合してスラリーを作る基本技術を持っていますので用途やニーズに合わせて様々な製品の開発、製造も可能です。
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/tech.jpg' %}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3> Asterの強み </h3>
											</header>
										<ul>
										<li>Power Coatingの製造には高度な技術が必要ですが、使うのはとても簡単です。</li>
										<li>Cost: 一般的な高強度性能の1/10~1/20</li>
											<ul class="actions">
												</ul>
										</div>
									</div>
								</section>
								<!-- <section> -->
									<!-- <a class="image"> -->
										<!-- <img src="{% static 'images/2.jpg' %}"  alt="" data-position="top center" /> -->
									<!-- </a> -->
									<!-- <div class="content"> -->
										<!-- <div class="inner"> -->
											<!-- <header class="major"> -->
												<!-- <h3>BLA</h3> -->
											<!-- </header> -->
											<!-- <p> -->
											<!-- ..................</p> -->
											<!-- <ul class="actions"> -->
												<!-- </ul> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </section> -->
								
							</section>

						<!-- Three -->
							<section id="three">
								<div class="content">
									<header class="major">
										<h2>実験動画:</h2>
								</div>
								<div style="text-align:left"> 
								<video style="object-fit:contain;max-width:100%;" controls>
								  <source src="{% static 'video/Experiment.mp4' %}" type="video/mp4">
								  <source src="{% static 'video/Experiment.webm' %}" type="video/webm">
								  <source src="{% static 'video/Experiment.ogv' %}"
								</video>
								</div>
								<a class="image">
									<img src="{% static 'images/research_outcome.jpg' %}" style="object-fit:contain;max-width:100%;" alt=""/>
								</a>
									

							</section>

					</div>

				<!-- Contact -->
					<!-- <section id="contact"> -->
						<!-- <div class="inner"> -->
							<!-- <section> -->
								<!-- <form method="post" action="#"> -->
									<!-- <div class="fields"> -->
										<!-- <div class="field half"> -->
											<!-- <label for="name">氏名</label> -->
											<!-- <input style="border: 2px solid #9bf1ff"type="text" name="name" id="name" /> -->
										<!-- </div> -->
										<!-- <div class="field half"> -->
											<!-- <label for="email">メール</label> -->
											<!-- <input style="border: 2px solid #9bf1ff"type="text" name="email" id="email" /> -->
										<!-- </div> -->
										<!-- <div class="field"> -->
											<!-- <label for="message">メッセージ</label> -->
											<!-- <textarea style="border: 2px solid #9bf1ff"name="message" id="message" rows="6"></textarea> -->
										<!-- </div> -->
									<!-- </div> -->
									<!-- <ul class="actions"> -->
										<!-- <li><input type="submit" value="Send Message" class="primary" /></li> -->
										<!-- <li><input type="reset" value="Clear" /></li> -->
									<!-- </ul> -->
								<!-- </form> -->
							<!-- </section> -->
							<!-- <section class="split"> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-envelope"></span> -->
										<!-- <h3>Email</h3> -->
										<!-- <a href="#">information@aster.com</a> -->
									<!-- </div> -->
								<!-- </section> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-phone"></span> -->
										<!-- <h3>電話番号（代表）</h3> -->
										<!-- <span>+81-(0)55-925-0063</span> -->
									<!-- </div> -->
								<!-- </section> -->
								<!-- <section> -->
									<!-- <div class="contact-method"> -->
										<!-- <span class="icon solid alt fa-home"></span> -->
										<!-- <h3>所在地</h3> -->
										<!-- <span> 〒114-0028 <br>東京都中央区八重洲2-6-5<br> -->
										<!-- 八重洲五の五ビル4F -->
										<!-- </span> -->
									<!-- </div> -->
								<!-- </section> -->
							<!-- </section> -->
						<!-- </div> -->
					<!-- </section> -->

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/dis_aster__" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/Aster-Co-Ltd-102878115674292" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/dis_aster_official/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/dis-aster-git" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/company/dis-aster" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Copyright © 2022 株式会社 Aster.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>